<%+header%>




<script type="text/javascript">//<![CDATA[

function fake_update_status(field){
    setInterval(update_status(field), 2000)
}


var stxhr = new XHR();
function update_status(field) {
  var tool = field.name;
  var addr = field.value;
  var legend = document.getElementById('diag-rc-legend');
  var output = document.getElementById('diag-rc-output');
  if (!legend || !output) {
    return;
  }

  legend.parentNode.style.display = 'block';
  legend.style.display = 'inline';
  stxhr.post('<%=url('admin/named-data')%>/displayCountersNDN', { token: '<%=token%>' },
    function(x) {
      if (x.responseText) {
        var desiredobj = ["nFibEntries", "nPitEntries", "nMeasurementEntries", "nCsEntries", "nInInterests", "nOutInterests", "nInData", "nOutData", "nInNacks","nOutNacks", "nSatisfiedInterests","nUnsatisfiedInterests"];

        tableJSON = JSON.parse(x.responseText);
        var txt = "";
        txt+="<table border = '1'>";
        for (var j = 0; j < desiredobj.length; j++){
            var s = document.getElementById(desiredobj[j]);
            s.innerHTML = tableJSON[desiredobj[j]];
            if(tableJSON[desiredobj[j]] == undefined){
                s.innerHTML = "0"
            }
        }


      } else {
        legend.style.display = 'none';
        output.innerHTML = '<span class="error"><%:Bad address specified!%></span>';
      }
    }
  );
}



//]]></script>

<form method="post" action="<%=url('admin/named-data/displayCounters')%>">
  <div class="cbi-map">

    <div class="cbi-section">
      <legend><%:NFD Counters%></legend>

      <div class="cbi-section-node">
            <form class="cbi-form" action="<%=url('admin/named-data/displayCountersNDN')%>" method="post">
                <input type="button" name ="counters" value="<%:counters%>" class="cbi-button cbi-button-apply" onclick="fake_update_status(this.form.counters)" />
            </form>
          </div>
    </div>
  </div>

  <div class="cbi-section" style="display:none">
    <strong id="diag-rc-legend"></strong>
    <span id="diag-rc-output"></span>
  </div>
</form>


<div class="cbi-section">
	<h3>System</h3>

	<div class="table" width="100%">
		<div class="tr"><div class="td left" width="33%">nFibEntries</div><div class="td left" id="nFibEntries">-</div></div>
		<div class="tr"><div class="td left" width="33%">nPitEntries</div><div class="td left" id="nPitEntries" >-</div></div>
		<div class="tr"><div class="td left" width="33%">nMeasurementEntries</div><div class="td left" id="nMeasurementEntries">-</div></div>
		<div class="tr"><div class="td left" width="33%">nCsEntries</div><div class="td left" id="nCsEntries">-</div></div>
		<div class="tr"><div class="td left" width="33%"> nInInterests</div><div class="td left" id="nInInterests">-</div></div>
		<div class="tr"><div class="td left" width="33%">nOutInterests</div><div class="td left" id="nOutInterests">-</div></div>
		<div class="tr"><div class="td left" width="33%">nInData</div><div class="td left" id="nInData">-</div></div>
        <div class="tr"><div class="td left" width="33%">nOutData</div><div class="td left" id="nOutData">-</div></div>
        <div class="tr"><div class="td left" width="33%">nInNacks</div><div class="td left" id="nInNacks">-</div></div>
        <div class="tr"><div class="td left" width="33%">nOutNacks</div><div class="td left" id="nOutNacks">-</div></div>
        <div class="tr"><div class="td left" width="33%">nSatisfiedInterests</div><div class="td left" id="nSatisfiedInterests">-</div></div>
        <div class="tr"><div class="td left" width="33%">nUnsatisfiedInterests</div><div class="td left" id="nUnsatisfiedInterests">-</div></div>
        
	</div>
</div>


<%+footer%>


