<%-
  require "luci.sys"
  local nfdc_status_output = luci.sys.exec("nfdc status")
-%>

<%+header%>

<h2>Global Counters</h2>

<script type="text/javascript">//<![CDATA[
var stxhr = new XHR();
function update_status() {
  stxhr.post('<%=url('admin/status/named-data')%>/displayCountersNDN', { token: '<%=token%>' },
    function(x) {
      if (!x.responseText) {
        return;
      }

      var desiredobj = ["nFibEntries", "nPitEntries", "nMeasurementEntries", "nCsEntries", "nInInterests", "nOutInterests", "nInData", "nOutData", "nInNacks","nOutNacks", "nSatisfiedInterests","nUnsatisfiedInterests"];
      var tableJSON = JSON.parse(x.responseText);
      for (var j = 0; j < desiredobj.length; j++){
        var key = desiredobj[j];
        var s = document.getElementById(key);
        s.innerHTML = tableJSON[key] || "0";
      }
    }
  );
}

setInterval(update_status, 5000)
setTimeout(update_status, 10);
//]]></script>

<div class="cbi-section">
  <div class="table" width="100%">
    <div class="tr"><div class="td left" width="33%">FIB entries</div><div class="td left" id="nFibEntries">-</div></div>
    <div class="tr"><div class="td left" width="33%">PIT entries</div><div class="td left" id="nPitEntries" >-</div></div>
    <div class="tr"><div class="td left" width="33%">Measurement entries</div><div class="td left" id="nMeasurementEntries">-</div></div>
    <div class="tr"><div class="td left" width="33%">CS entries</div><div class="td left" id="nCsEntries">-</div></div>
    <div class="tr"><div class="td left" width="33%">RxInterests</div><div class="td left" id="nInInterests">-</div></div>
    <div class="tr"><div class="td left" width="33%">TxInterests</div><div class="td left" id="nOutInterests">-</div></div>
    <div class="tr"><div class="td left" width="33%">RxData</div><div class="td left" id="nInData">-</div></div>
    <div class="tr"><div class="td left" width="33%">TxData</div><div class="td left" id="nOutData">-</div></div>
    <div class="tr"><div class="td left" width="33%">RxNacks</div><div class="td left" id="nInNacks">-</div></div>
    <div class="tr"><div class="td left" width="33%">TxNacks</div><div class="td left" id="nOutNacks">-</div></div>
    <div class="tr"><div class="td left" width="33%">nSatisfiedInterests</div><div class="td left" id="nSatisfiedInterests">-</div></div>
    <div class="tr"><div class="td left" width="33%">nUnsatisfiedInterests</div><div class="td left" id="nUnsatisfiedInterests">-</div></div>
  </div>
</div>

<h2>NFD Status Page</h2>

<a class="cbi-button cbi-button-action important" href="/cgi-bin/nfd-status" target="_blank">NFD Status</a>

<%+footer%>
