<%+header%>

<%-
local util = io.popen("nfdc face list")
if util then
  local idx = 0
-%>

<div class="cbi-section-node">
  <div class="table" style="font-size: 90%;">
    <div class="tr table-titles cbi-rowstyle-2">
      <div class="th hide-xs">Face ID</div>
      <div class="th nowrap">URI</div>
      <div class="th nowrap">Routes</div>
    </div>

    <%-
    while true do
      local ln = util:read("*l")
      if not ln then break end
      idx = idx + 1

      local style = ""
      if idx % 2 == 0 then
        style = "cbi-rowstyle-2"
      else
        style = "cbi-rowstyle-1"
      end

      local face_id = string.match(ln, "faceid=(%d+)")
      local uri = string.match(ln, "remote=([^%s]+)")

      local routes = ""
      local routes_util = io.popen("nfdc route list nexthop " .. face_id)
      if routes_util then
        while true do
          local routes_ln = routes_util:read("*l")
          if not routes_ln then break end
          routes = routes .. string.match(routes_ln, "prefix=([^ ]*)") .. "<br>"
        end
      end
      routes_util:close()
    -%>
    <div class="tr <%=style%>">
      <div class="td" data-title="Face ID"><%=face_id%></div>
      <div class="td nowrap" data-title="URI">
        <%=uri%>
      </div>
      <div class="td nowrap" data-title="Routes">
        <%=routes%>
      </div>
    </div>
    <%-
    end
    -%>
  </div>
</div>

<%-
end
-%>

<h4>Create Face</h4>
<div class="cbi-section-node">
  <form class="cbi-form" action="<%=url('admin/status/named-data/create_face')%>" method="post">
    <p>
      <label for="addr">URI</label>
      <input class="cbi-input-text" type="text" name="addr" id="addr" required/>
      <input type="hidden" name="token" id="token" value="<%=token%>"/>
    </p>
    <p>
      <input class="cbi-button cbi-button-save" type="submit" value="Create"/>
    </p>
  </form>
</div>

<%+footer%>

